<div class="container">
  <div class="card card-primary border-dark mx-auto" style="max-width: 40%;">
    <div class="card-body">
      <h4 class="card-title">Patient Juan</h4>
      <h6 class="card-subtitle text-muted mb-2">Medical Practice Web System</h6>
      <p class="card-text">Under Development</p>
      <p class="card-text">&copy; February 24, 2020</p>
    </div>
  </div>